.cabecalho {
    background-color: #B5D6D6;
    border-bottom: 3px solid #ffffff;
    height: 240px;
    width: 100%;
}

.cabecalho-redes-sociais {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    width: 100%;
    padding: 10px 65px 0px 0px;
}

.cabecalho-redes-sociais-item {
    font-size: 1rem;
    color: black;
    font-weight: 400;
    text-decoration: none;
}

.cabecalho-redes-sociais-item img {
    width: 30px;
}

/*.header-menu {
    display: flex;
    background-color: blue;
    width: 100% !important;
    margin-top: 18%;
    height: 40%;
}*/



/*.headerToggle {
    cursor: pointer;
}

.navegacao {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    width: 30%;
    padding-left: 10px;
    padding-top: 20px;
}

.navegacao a {
    color: black;
    text-decoration: none;
} */

/* LOGO */
.cabecalho-logo {
    position: absolute;
    padding-top: 40px;
    padding-left: 30px;
    width: 100%;
}

.cabecalho-logo img {
    width: 15rem;
}


/* div with navbar and input*/
.cabecalho-navegacao-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 80px;
}

/* navbar*/
.cabecalho-navegacao {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.cabecalho-navegacao-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 1.25rem;
    font-weight: 400;
  }

.cabecalho-navegacao-item:hover {
    color: #FFFF;
}

.cabecalho-navegacao-item i{
    margin-bottom: -33px;
    font-size: 1.75rem;
}

/* input */
.cabecalho-input input {
    border-radius: 15px;
    padding: 6px;
    border: none;
    font-size: 1.063rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 450px;
    height: 40px;
    text-align: start;
    text-indent: 35px;
}

input::placeholder{
    color: #000000;
    opacity: 0.5;
}

//////////////////////////////
/// LOJA FÍSICA
.cabecalho-loja-fisica{
    position: fixed;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: -50px;
    width: 100%;
}

.cabecalho-loja-fisica a{
    font-size: 1.25rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.cabecalho-loja-fisica-conteudo{
    font-weight: 400;
    font-size: 0.875rem;
    display: flex;
    flex-direction: column;
}

// MEDIA QUERIES //
// MOBILE
@media (min-width: 290px) and (max-width: 480px){

    .cabecalho-redes-sociais-item {
        font-size: 0.75rem;
    }

    .cabecalho-redes-sociais-item img {
        width: 20px;
    }

    .cabecalho-logo {
        padding-left: 5px;
    }

    .cabecalho-logo img {
        width: 13rem;
    }

    .cabecalho-loja-fisica{
        margin-top: -130px;
    }

    .cabecalho-input {
        width: 100%;
        padding-top: 60px;
        display: flex;
        justify-content: center;
    }

    .cabecalho-input input {
        width: 70%;
    }

    .cabecalho-navegacao {
        display: none;
    }










}

// Tablets de baixa resolução, celulares
@media (min-width: 482px) and (max-width: 1024px){

}

@media (min-width: 1025px) and (max-width: 1280px), (min-width: 1281px){

}

