<header class="cabecalho">
    <!-- LINKS DAS REDES SOCIAIS E "SOBRE" -->
    <div class="cabecalho-redes-sociais">
        <a class="cabecalho-redes-sociais-item" href="#">Sobre</a>
        <a class="cabecalho-redes-sociais-item" href="#"><img src="assets/facebook_logo.png"></a>
        <a class="cabecalho-redes-sociais-item" href="#"><img src="assets/instagram_logo.png"></a>
        <div class="cabecalho-redes-sociais-item" href="#"><img src="assets/user_logo.png"></div>
    </div>

    <!-- LOGO DA LOJA -->
    <div class="cabecalho-logo">
        <a href="/"><img src="assets/logo_loja.png" alt="logo da loja Armarinhos Ginho"></a>
    </div>

    <!-- NAVEGAÇÃO E BARRA DE PESQUISA -->
    <div class="cabecalho-navegacao-input">
        <div class="cabecalho-navegacao-mobile" (click)="toggleMenu()">
            <div class="linha1"></div>
            <div class="linha2"></div>
            <div class="linha3"></div>
        </div>
        <nav [ngClass]="{'cabecalho-navegacao':true, 'active': isMenuOpen}">
            <a class="cabecalho-navegacao-item" href=""><i class="fa-solid fa-pencil"></i><br>papelaria</a>
            <a class="cabecalho-navegacao-item" href=""><i class="fa-solid fa-shirt"></i><br>roupas</a>
            <a class="cabecalho-navegacao-item" href=""><i class="fa-solid fa-scissors"></i><br>costura</a>
            <a class="cabecalho-navegacao-item" href=""><i class="fa-solid fa-ellipsis"></i><br>outros</a>
        </nav>

        <!-- BARRA DE PESQUISA -->
        <form class="cabecalho-input">
            <input type="text" placeholder="Pesquisar....">
            <button type="button"><img src="assets/lupa_logo.png"></button>
        </form>
    </div>

    <!-- ÍCONE PARA VISITA À LOJA -->
    <div class="cabecalho-loja-fisica">
        <i class="fa-solid fa-store mt-0" style="font-size: 50px;"></i>
        <div class="cabecalho-loja-fisica-conteudo">
            <a href="#" class="">Loja física </a>
            <p>Venha nos visitar!</p>
        </div>
    </div>
</header>
