.cabecalho {
    background-color: var(--azul-primario);
    border-bottom: 3px solid var(--branco-secundario);
    height: 240px;
    width: 100%;
}

// REDES SOCIAIS
.cabecalho-redes-sociais {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    width: 100%;
    padding: 10px 65px 0px 0px;
}

.cabecalho-redes-sociais-item {
    font-size: 1rem;
    color: var(--preto);
    font-weight: 400;
    text-decoration: none;
}

.cabecalho-redes-sociais-item img {
    width: 30px;
}

// LOGO
.cabecalho-logo {
    position: absolute;
    padding-top: 40px;
    padding-left: 30px;
    width: 100%;
}

.cabecalho-logo img {
    width: 15rem;
}

/* NAVEGAÇÃO E INPUT*/
.cabecalho-navegacao-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 80px;
}

.cabecalho-navegacao-mobile {
    position: absolute;
    display: block;
    left: 10px;
    padding-top: 80px;
    cursor: pointer;
}

.cabecalho-navegacao-mobile div {
    width: 32px;
    height: 3px;
    background-color: var(--vermelho-section);
    margin: 8px;
}

.cabecalho-navegacao.active {
    position: absolute;
    top: 240px;
    left: 0;
    width: 50vw;
    height: 40vh;
    background-color: var(--vermelho-section);
    flex-direction: column;
    gap: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cabecalho-navegacao {
    display: none;
}

.cabecalho-navegacao-item {
    font-size: 1rem;
    text-decoration: none;
    color: var(--branco-secundario);
  }

.cabecalho-navegacao-item i{
    display: none;
}

/* input */
.cabecalho-input {
    width: 80%;
    display: flex;
    justify-content: center;
}

.cabecalho-input input {
    border-radius: 15px;
    padding: 6px;
    border: none;
    font-size: 1.063rem;
    box-shadow: 0px 4px 4px 0px var(--sombra-input);
    width: 40%;
    height: 40px;
    text-align: start;
    text-indent: 35px;
}

input::placeholder{
    color: var(--preto);
    opacity: 0.5;
}

.cabecalho-input button {
    position: absolute;
    border: none;
    background-color: var(--vermelho-section);
    padding: 4px 12px;
    border-radius: 15px;
    margin-top: 5px;
    margin-left: 25%;
    cursor: pointer;
}

/// LOJA FÍSICA
.cabecalho-loja-fisica{
    position: absolute;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: -50px;
    width: 30%;
    padding-right: 40px;
    right: 0;
}

.cabecalho-loja-fisica a{
    font-size: 1.25rem;
    text-decoration: none;
    color: var(--preto);
}

.cabecalho-loja-fisica-conteudo{
    font-weight: 400;
    font-size: 0.875rem;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
}

.cabecalho-loja-fisica-conteudo:hover{
    color: var(--branco-secundario);
}

// MEDIA QUERIES //

// MOBILE
@media (max-width: 699px){
    .cabecalho-navegacao-mobile {
        padding-top: 80px;
    }

    // REDES SOCIAIS
    .cabecalho-redes-sociais-item {
        font-size: 0.70rem;
    }

    .cabecalho-redes-sociais-item img {
        width: 18px;
    }

    // LOGO DA PÁGINA
    .cabecalho-logo {
        display: flex;
        justify-content: center;
        padding: 20px 0px 0px 0px;
    }

    //LINK LOJA FÍSICA
    .cabecalho-loja-fisica{
        justify-content: center;
        width: 100%;
        padding: 70px 0px 0px 0px;
    }

    .cabecalho-loja-fisica i {
        display: none;
    }

    .cabecalho-loja-fisica a{
        font-size: 1rem;
    }

    .cabecalho-loja-fisica-conteudo {
        text-align: center;
    }

    //MENU DE NAVEGAÇÃO
    .cabecalho-navegacao {
        display: none;
    }

    .cabecalho-navegacao-item {
        font-size: 1rem;
    }

    .cabecalho-navegacao-item i{
        display: none;
    }

    //INPUT DA PÁGINA
    .cabecalho-input {
        position: absolute;
        width: 60%;
        display: flex;
        justify-content: center;
        padding-top: 80px;
    }

    .cabecalho-input input {
        width: 100%;
    }

    .cabecalho-input button {
        margin-left: 70%;
    }
}

@media (min-width: 700px) and (max-width: 866px){
    .cabecalho-navegacao-mobile {
        padding-top: 60px;
    }

    // REDES SOCIAIS
    .cabecalho-redes-sociais-item {
        font-size: 0.75rem;
    }

    .cabecalho-redes-sociais-item img {
        width: 20px;
    }

    // LOGO DA PÁGINA
    .cabecalho-logo {
        padding-left: 5px;
    }

    .cabecalho-logo img {
        width: 13rem;
    }

    .cabecalho-loja-fisica{
        margin-top: -130px;
    }

    .cabecalho-input {
        width: 70%;
        padding-top: 60px;
        display: flex;
        justify-content: center;
    }

    .cabecalho-input input {
        width: 100%;
    }

    .cabecalho-input button {
        margin-left: 60%;
    }

    .cabecalho-navegacao {
        display: none;
    }

    .cabecalho-loja-fisica {
        padding-right: 10px;
    }
}

@media (min-width: 867px) and (max-width: 1024px){
    .cabecalho-navegacao-mobile {
        display: none;
    }

    // REDES SOCIAIS
    .cabecalho-redes-sociais-item img {
        width: 20px;
    }

    // LOGO DA PÁGINA
    .cabecalho-logo {
        width: 25vw;
        padding-top: 55px;
        padding-left: 5px;
    }

    .cabecalho-logo img {
        width: 13rem;
    }

    .cabecalho-input {
        width: 100%;
        padding-top: 10px;
        display: flex;
        justify-content: center;
    }

    .cabecalho-input input {
        width: 40%;
    }

    .cabecalho-input button {
        margin-left: 30%;
    }

    .cabecalho-navegacao {
        display: flex;
        gap: 20px;
    }

    .cabecalho-navegacao-item {
        gap: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        text-decoration: none;
        color: var(--preto);
        font-size: 1rem;
        //espaçamento entre as letras
        letter-spacing: 3px;
        font-weight: 400;
        transition: 0.3s;
      }

    .cabecalho-navegacao-item:hover {
        color: var(--branco-secundario);
    }

    .cabecalho-navegacao-item i{
        display: flex;
        margin-bottom: -33px;
        font-size: 1.75rem;
    }

    .cabecalho-loja-fisica {
        padding-right: 10px;
        width: 25vw;
        right: 0;
    }
}

@media (min-width: 1025px){
    // LOGO DA PÁGINA
    .cabecalho-logo {
        width: 30vw;
    }

    .cabecalho-navegacao-mobile {
        display: none;
    }

    .cabecalho-navegacao {
        display: flex;
        gap: 20px;
    }

    .cabecalho-navegacao-item {
        gap: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        text-decoration: none;
        color: var(--preto);
        font-size: 1rem;
        //espaçamento entre as letras
        letter-spacing: 3px;
        font-weight: 400;
        transition: 0.3s;
      }

    .cabecalho-navegacao-item:hover {
        color: var(--branco-secundario);
    }

    .cabecalho-navegacao-item i{
        display: flex;
        margin-bottom: -33px;
        font-size: 1.75rem;
    }
}
