<section class="primeira-secao">
    <img class="secao__imagem" src="assets/primeiraSecao/canetas.svg" alt="Mão de uma pessoa segurando quatro canetas.">

    <div class="secao_descricao">
        <h1 class="descricao__titulo">Material escolar, costura e presentes você <strong class="titulo_destaque">encontra aqui</strong></h1>
        <a class="descricao__link" routerLink="/">produtos</a>
    </div>
    <img class="secao__imagem" src="assets/primeiraSecao/linhas.svg" alt="Um rolo de linha rosa e outro de linha roxa e uma agulha.">
</section>
