@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

:root {
    --azul-primario: #B5D6D6;
    --branco-secundario: #ffffff;
    --vermelho-section: #FB555B;
    --roxo-footer: #E69597;
    --roxo-section: #CEB5B7;
    --sombra-input: rgba(0, 0, 0, 0.25);
    --preto: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Montserrat', sans-serif;
}
